<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="style.css">
    <title>Read Route</title>
</head>
<script src="templaterute.js"></script>
<div id="afisare1"></div>
<h4>Pentru a adauga un nou bilet, apasa pe "Create":</h4>
<button onclick="Bilete1('create')">Create</button>
<br>
<br>
<h4>Daca vrei sa modifici ceva, apasa pe "Update":</h4>
<button onclick="Bilete1('update')">Update</button>
<br>
<br>
<button onclick="Bilete1('delete')">Delete</button>
<br>
<br>
<button onclick="Bilete1('')">Back</button>
</body>
</html>