<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="style.css">
    <title>Update Route</title>
</head>
<body>
        <label for="index">Index</label>
        <br>
        <input type="text" id="index" name="index">
        <br>
        <label for="nume">Denumire film</label>
        <br>
        <input type="text" id="nume" name="nume">
        <br>
        <label for="price">Pret bilet</label>
        <br>
        <input type="text" id="price" name="price">
        <br>
        <label for="disponibilitate">Disponibilitate film</label>
        <br>
        <input type="text" id="disponibilitate" name="disponibilitate">
        <br>
        <br>
        <button onclick="Informatii()">Submit</button>
        <br>
        <br>
    <button onclick="Bilete1('read')">Back</button>

<script src="update.js"></script>
</body>
</html>